body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-image: linear-gradient(to right, aqua, white);
}

.card-header {
    text-align: center;
}

[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
    background: aqua;
    width: 100%;
}

[type=submit]:not(:disabled),
button:not(:disabled):hover {
    cursor: pointer;
    background: aqua;
}