body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-image: linear-gradient(to right, aqua, white);
}

.card-header {
    text-align: center;
}

[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
    background: aqua;
    width: 100%;
}

[type=submit]:not(:disabled),
button:not(:disabled):hover {
    cursor: pointer;
    background: aqua;
}

#emailHelpId {
    color: red !important;
}

.btn {
    margin-bottom: 10px;
    padding-left: 20px;
    width: 350px !important;
    margin-left: 1rem!important;
    margin-right: 1rem!important;
    margin-bottom: 1rem!important;
}

form {
    padding-top: 1.5rem!important;
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
}